<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>main.com.servlets.LogIn</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>nyBruker</servlet-name>
    <servlet-class>main.com.servlets.NyBrukerServlet</servlet-class>
  </servlet>
<!--
  <servlet>
    <servlet-name>View_Table</servlet-name>
    <servlet-class>main.com.servlets.ReturnFromDB</servlet-class>
  </servlet>
  -->
  <servlet>
    <servlet-name>LogUt</servlet-name>
    <servlet-class>main.com.servlets.LogUt</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SøkEtterResultater</servlet-name>
    <servlet-class>main.com.servlets.TestResultater</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrerUtøver</servlet-name>
    <servlet-class>main.com.servlets.RegistrerUtøver</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>nyBruker</servlet-name>
    <url-pattern>/nyBruker</url-pattern>
  </servlet-mapping>
<!--
  <servlet-mapping>
    <servlet-name>View_Table</servlet-name>
    <url-pattern>/ReturnTable</url-pattern>
  </servlet-mapping>
  -->
  <servlet-mapping>
    <servlet-name>LogUt</servlet-name>
    <url-pattern>/LogUt</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SøkEtterResultater</servlet-name>
    <url-pattern>/SøkEtterResultater</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrerUtøver</servlet-name>
    <url-pattern>/RegistrerUtøver</url-pattern>
  </servlet-mapping>

</web-app>
